<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/register" th:object="${user}" method="post">
    <label>
        <input name="username" type="text" placeholder="Username" th:field="*{username}"/>
    </label>
    <br/>
    <label>
        <input name="email" type="email" placeholder="@email.com">
    </label>
    <br/>
    <label>
        <input name="password" type="password" placeholder="password" th:field="*{password}">
    </label>
    <br/>
    <label>
        <input name="repeat_password" type="password" placeholder="Repeat password"
               th:field="*{repeatPassword}">
    </label>
    <br/>
    <label>Your position
        <select name="team_member_role" th:field="*{teamMemberRole}">
            <option value="BACKEND">BackEnd Developer</option>
            <option value="FRONTEND">FrontEnd Developer</option>
            <option value="PM">Project Manager</option>
            <option value="DEVOPS">DevOps</option>
            <option value="PENDING">Pending</option>
            <option value="NONE">None</option>
        </select>
    </label>
    <br/>
    <label>
        <input type="submit" name="Sign in" value="Sign in">
    </label>
</form>

</body>
</html>